name: Sync fork

on:
  schedule:
    - cron: '17 3 */2 * *'
  workflow_dispatch:
  
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: tgymnich/fork-sync@v1.8
        with:
          merge_method: rebase
          base: master
          head: master
